{{#if user}}
    <!-- Verifico si hay un usuario autenticado -->
    <header>
        <!-- Encabezado de bienvenida para el usuario -->
        <!-- Muesto el nombre completo del usuario -->
        <p>Bienvenido!, {{user.first_name}} {{user.last_name}}!</p>
        <!-- Muestro el rol del usuario -->
        <p>Rol: {{user.role}} </p>
        <!-- Enlace para cerrar sesión -->
        <a href="/api/sessions/logout">Logout</a>        
    </header>

{{else}}
    <!-- Si no hay usuario autenticado, muestro un mensaje o redirijo a la página de inicio de sesión -->
    <p>Por favor inicia sesión para acceder a esta sección.</p>
    <a href="/login">Iniciar Sesión</a>
{{/if}}

<hr>

<h1> Productos </h1>
{{#each productos}}
    <!-- Itero sobre la lista de productos -->
    <div>
        <!-- Renderizo cada producto -->
        <!-- Muestro el título del producto -->
        <h2>{{title}}</h2>
        <!-- Muestro la descripción del producto -->
        <p>{{description}}</p>
        <!-- Muestro el precio del producto -->
        <p>Price: ${{price}}</p>
        <!-- Muestro la categoría del producto -->
        <p>Category: {{category}} </p>
        <!-- Botón para agregar al carrito -->
        <button> Agregar al Carrito </button>
        <!-- Botón para agregar al carrito, con una función JavaScript -->
        </div>
{{/each}}

<!-- Verifica si hay una página siguiente -->
{{#if hasNextPage}}
    <!-- Enlace a la página siguiente -->
    <a href="/products?page={{nextPage}}"> Siguiente </a>
{{/if}}

<!-- Verifica si hay una página anterior -->
{{#if hasPrevPage}}
    <!-- Enlace a la página anterior -->
    <a href="/products?page={{prevPage}}"> Anterior </a>
{{/if}}

<!-- Muestra información sobre la paginación -->
<p>Pagina {{currentPage}} de {{totalPages}} </p>

